.mytable {
  table-layout: fixed;
  position: relative;
  font-family: Arial Cyr;
}

.table_forecast {
  margin: 70px 5px 5px 5px !important;
}

.table_fact, .table_abs_deviation, .table_rel_deviation {
  margin: 15px 5px 5px 5px !important;
}

.mytable td, .mytable th {
  padding: 0 !important;
}

.mytable thead tr:nth-child(2) {
  border-top: double !important;
}

.mytable thead tr {
  border-top: double !important;
  border-left: double !important;
  border-right: double !important;
}

.mytable thead tr:nth-child(3) {
  border-top: 1px solid !important;
  border-bottom: double;
}

.mytable thead th {
  border-left: 1px solid;
  border-bottom: double !important;
}

.mytable a {
  text-decoration-color: black;
}

.mytable th, a {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 8pt;
}

.mytable thead th:first-child {
  border-bottom: 1px solid !important;
  border-right: double !important;
}

.mytable thead tr:nth-child(1),
.mytable thead tr:nth-child(1) th {
  border: 0px solid !important;
}

.mytable tbody th {
  border-left: double;
  border-right: double;
  border-bottom: 1px solid;
}

.mytable thead tr:nth-child(2) th:nth-last-child(1) {
  background-color: #BEBEBE;
  border-left: solid;
}

.mytable tbody td {
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.mytable tbody td:last-child {
  border-right: double;
  background-color: #BEBEBE;
  border-left: solid;
}

.mytable tfoot th {
  border-left: double;
  border-right: double;
  border-bottom: double;
  border-top: solid !important;
  background-color: #BEBEBE;
}

.mytable tfoot td {
  border-bottom: double;
  border-left: 1px solid;
  border-top: solid !important;
  background-color: #BEBEBE;
}

.mytable tfoot td:last-child {
  border-right: double;
  border-left: solid;
}

.hover, .table-hover tbody tr:hover {
  background: #EBF5FB;
}

.border-solid {
  border-right: solid !important;
  border-left: solid !important;
}

.background-light-grey {
  background-color: #E0E0E0 !important;
}

.filters {
  position: fixed;
  display: flex;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.dropdown {
  margin: 10px 0 0 10px;
  width: auto;
}

select {
  color: black;
  height: 35px;
  border-radius: 4px;
  padding: 6px;
}

select option {
  font-family: Arial;
  padding: 20px;
  font-size: 14px;
}

.datepicker table tr td span {
  width: 100%;
}

.datepicker-years .table-condensed thead {
  display: none;
}

.year.disabled {
  display: none;
}

.input-group {
  margin: 10px 0 0 10px;
}

.input-group .form-control {
  height: 35px;
}

span.input-group-addon {
  background-color: #EBF5FB;
}

input {
  color: black;
  border-radius: 4px;
  background-color: white;
}

.send_excel {
  margin: 10px 0 0 10px;
  color: black;
  height: 35px;
}

.send_excel button {
  background-color: #EBF5FB;
}

/* qtr */
/* .datepicker table tr td .month{
  height: 54px;
  overflow: hidden;
} */
/* .datepicker .datepicker-months tbody span:nth-child(5),
.datepicker .datepicker-months tbody span:nth-child(6),
.datepicker .datepicker-months tbody span:nth-child(7),
.datepicker .datepicker-months tbody span:nth-child(8),
.datepicker .datepicker-months tbody span:nth-child(9),
.datepicker .datepicker-months tbody span:nth-child(10),
.datepicker .datepicker-months tbody span:nth-child(11),
.datepicker .datepicker-months tbody span:nth-child(12)
{
display: none;
} */
/* горизонтальный выбор как в месяце вроде можно оставить, но добавить условие для квартала*/
/* .datepicker .datepicker-months tbody span .month{
  display: -webkit-flex;
  flex-wrap:wrap;
  width: 40px;
}

.datepicker table tr td span {
    width: 20%;
    height: 33px;
    line-height: 28px;
    float: left;
    display: -webkit-flex;
    flex-wrap:wrap;
    width: 55px;
    justify-content: center;
    align-items: center;
} */